<app-management-nav-bar></app-management-nav-bar>
<div class="container">
  <div class="card info" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Client Info</h5>
      <div class="row">
        <div class="col-5">Client ID:</div>
        <div class="col-7">{{clientId}}</div>
      </div>
      <div class="row">
        <div class="col-5">Client Name:</div>
        <div class="col-7">{{client?.name}}</div>
      </div>
      <div class="row">
        <div class="col-5">Client Address:</div>
        <div class="col-7">{{client?.address}}</div>
      </div>
      <div class="row">
        <div class="col-5">Client Email:</div>
        <div class="col-7">{{client?.email}}</div>
      </div>
      <div class="row">
        <div class="col-5">Registration Date:</div>
        <div class="col-7">{{client?.registerDate | date: 'yyyy-MM-dd'}}</div>
      </div>
      <div *ngIf="client?.agreement" class="row">
        <div class="col-5">Client Agreement:</div>
        <div class="col-7">{{client?.agreement}}</div>
        <button class="btn-open">Open Agreement</button>        
        <!-- <button (click)="downloadFile(client.agreement)">Open Agreement</button> -->
      </div>      
    </div>
  </div>

    <div *ngIf="projects.length==0">No projects to display</div>
    <div class="row">
        <div class="row m-1">
            <div class="col-sm-4 mt-2" *ngFor="let project of projects">
                <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col">
                            <b>{{project.name}}</b>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <a routerLink="/projects/update/{{project.projectId}}" title="Update this project"><fa-icon [icon]="faEdit" size="2x"></fa-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Start Date
                    <p>{{project.startDate | date: 'yyyy-MM-dd'}}</p>
                    Status
                    <p>{{project.status}}</p>
                    End Date
                    <p>{{project.endDate | date: 'yyyy-MM-dd'}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn-complete" title="Complete this Project" (click)="project.projectId !== undefined ? updateCompleted(project.projectId) : null">COMPLETE</button>
                    <button class="btn-cancel" title="Cancel this Project"(click)="project.projectId !== undefined ? updateCancelled(project.projectId) : null">CANCEL</button>
                </div>
                </div>

                <div class="modal" id="completeModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Warning</h4>
                          <button type="button" class="btn-close" (click)="closeCompleteModal()" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                         Are you sure you want to change the status to Complete?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="modalProjectId !== undefined ? updateCompleteConfirm(modalProjectId) : null" data-bs-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-danger" (click)="closeCompleteModal()" data-bs-dismiss="modal">Close</button>
                        </div>  
                      </div>
                    </div>
                  </div>

                  <div class="modal" id="cancelModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Warning</h4>
                          <button type="button" class="btn-close" (click)="closeCancelModal()" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                         Are you sure you want to change the status to Cancel?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="modalProjectId !== undefined ? updateCancelledConfirm(modalProjectId) : null" data-bs-dismiss="modal">Ok</button>
                            <button type="button" class="btn btn-danger" (click)="closeCancelModal()" data-bs-dismiss="modal">Close</button>
                        </div>  
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

