<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
            <div id="navbarText">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/dashboard">Home</a>
                    </li>
                    <li *ngIf="clientRegistered()" class="nav-item">
                      <a class="nav-link" routerLink="/projects">Projects</a>
                    </li>
                    <li *ngIf="clientRegistered()" class="nav-item">
                      <a class="nav-link" routerLink="/projects/add">Add Project</a>
                    </li>
                    <li *ngIf="showDevTab()" class="nav-item">
                        <a class="nav-link" routerLink="/dev">Clients</a>
                    </li>
                    <li *ngIf="!clientRegistered()"class="nav-item">
                      <a class="nav-link" routerLink="/create-client">Add Client Info</a>
                    </li>
                    <li *ngIf="clientRegistered()"class="nav-item">
                      <a class="nav-link" routerLink="/update">Update Client Info</a>
                    </li>
                    <li>
                      <a class="nav-link" routerLink="/account/update">Update Account Info</a>
                    </li>
                    <li *ngIf="showDevTab()" class="nav-item">
                      <a class="nav-link" routerLink="/create-dev">Create a Dev Account</a>
                    </li>
                </ul>
              </div>
        </div>
      
      <div id="navbarText">
        <ul class="nav navbar-nav">
            <li>
                <p>Currently logged in: {{(currentUser())}}<p></p>
            </li>
            <li>
                <button type="button" class="btn btn-danger btn-sm" (click)="logout()">Log Out</button>
            </li>
        </ul>
      </div>
    </div>
 </nav>
 <div *ngIf="!clientRegistered()" class="container-fluid w-100 text-center" style="background-color: rgb(245, 77, 77);min-height: 30px;">
  <h1>Please add your information in the add client tab to begin using the app</h1>
 </div>

