.card {
    border: 1px solid #3d3535;
   
    border-radius: 5px;
    margin: 20px;
}

.card-header {
    
    padding: 10px;
}

.card-body {
    padding: 10px;
    
}

.card-footer {
    padding: 10px;
   
}

h1{
    text-align: center;
}

.links{
    margin-left: 50px;
}

button {
    margin-right: 20px;
}

.btn-complete {   
    border: 0;    
    font-size: 1rem;
    text-align: center;
    color: #000;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #3d7c59;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

.btn-cancel {
    border: 0;    
    font-size: 1rem;
    text-align: center;
    color: #000;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #86203f;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

fa-icon {
    color: #3d7c59;
}