@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
}
