<app-home-navbar></app-home-navbar>
<!-- Some help from https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp -->
<!-- code from https://mdbootstrap.com/docs/standard/extended/registration/ -->
<section class="vh-100" style="background-color: #c3e1f5;">
    <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Client Project Management App</p>
                    <p class="text-center">An application for managing projects</p>
                        <p class="d-flex justify-content-center align-items-center mt-4">
                          <button type="button" (click)="getStarted()" class="btn btn-outline-dark btn-rounded" style="background-color: rgb(55, 211, 223);">
                            Get started
                          </button>
                        </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <section class="py-5 border-bottom text-center" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Keep track of your project</h2>
                    <p>Create, delete, update, and see your projects to keep track of their status at any point. All in one account.</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Ease of use</h2>
                    <p>We took care of making sure the app is straight to the point.</p>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">Developer features</h2>
                    <p>An array of features for developers to monitor clients and their project, allowing also to updating their data.</p>
                </div>
            </div>
        </div>
    </section>
    
</section>

        <!-- Features section-->
        


