<app-home-navbar></app-home-navbar>
<!-- Some help from https://www.w3schools.com/bootstrap/bootstrap_theme_me.asp -->
<!-- code from https://mdbootstrap.com/docs/standard/extended/registration/ -->
<section class="vh-100" style="background-color: #c3e1f5;">
    <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-5 m-5">
                <div class="row justify-content-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Client Project Management App</p>
                    <p class="text-center">An application for managing projects</p>
                        <p class="d-flex justify-content-center align-items-center mt-4">
                          <button type="button" (click)="getStarted()" class="btn btn-outline-dark btn-rounded" style="background-color: rgb(55, 211, 223);">
                            Get started
                          </button>
                        </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>


